body {
  /* background-image: url(../img/abstract-wave-pawel-czerwinski.jpg); */
  background-image: url(../img/heap-of-clocks-jon-tyson.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  font-family: sans-serif;
  color: #fff;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(83, 74, 68, 0.9);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  text-align: center;
  font-size: 46px;
  padding-right: 20px;
}

h2 {
  margin: 0;
  font-size: 26px;
}

select {
  font-size: 16px;
  width: 100%;
  padding: 5px 8px;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

a {
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gold-clock {
  width: 12%;
  height: 12%;
  border-radius: 50%;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

.city:last-child {
  border-bottom: none;
}

.date {
  padding-top: 10px;
  font-size: 14px;
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(83, 74, 68, 0.9);
  text-align: center;
  font-size: 13px;
  padding-bottom: 5px;
}

footer div {
  font-size: 10px;
}
